<div class="container">
@if (line) {
  <h1>Netex {{ line.transportMode }} line {{ line.publicCode }} ({{line.id}})</h1>
  <h2>Route variants</h2>
    <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variant id</th>
        <th scope="col">Direction type</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
       </tr>
    </thead>
    <tbody>
      @for (routeVariant of line.routeVariants; track routeVariant.id) {
        <tr>
          <td><a [routerLink] = "['/netex/route-variant', routeVariant.id]">{{ routeVariant.id }} </a> </td>
          <td>{{ routeVariant.directionType }} </td>
          <td><!-- {{ routeVariant.fromQuay.town }}, {{ routeVariant.fromQuay.quayName }} --></td>
          <td><!-- {{ routeVariant.toQuay.town }}, {{ routeVariant.toQuay.quayName }} --></td>
        </tr>
      }
    </tbody>
  </table>
}
</div>
