<div class="container">
  <!--<h1>{{ this.networkName }} ({{this.countryCode}})</h1>-->
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Route id</th>
        <th scope="col">Route direction</th>
        <th scope="col">Route name</th>
       </tr>
    </thead>
    <tbody>
      @for (route of routes; track route.id) {
        <tr>
          <td><a [routerLink] = "['/netex/route', route.id]">{{ route.id }} </a> </td>
          <td>{{ route.directionType }} </td>
          <td>{{ route.name }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
