<!-- @let josmRemote = "http://localhost:8111"-->
<div class="container">
  @if (network$ | async; as network) {  

  <h1>{{ network.name }} ({{ network.shortName }})</h1>
  <p>OSM: <a [routerLink] =  "['/osm/network/', network.osmNetwork?.id ]">{{ network.osmNetwork?.name }}</a><br/>
     NeTex: <a [routerLink] =  "['/netex/network/', network.netexNetwork?.id ]">{{ network.netexNetwork?.name }}</a></p>
  
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Line number</th>
        <th scope="col">Osm name</th>
        <th scope="col">Netex name</th>
        <th scope="col">Transport mode</th>
       </tr>
    </thead>
    <tbody>
      @for (line of lines$ | async | filterBy: ['transportMode']: 'bus'; track line.id) {
        @if ( line.netexName && line.osmName ) {
          <tr>
            <td><a [routerLink] = "['/line', line.id]">{{ line.lineNumber }} </a> </td>
            <td><a [routerLink] = "['/osm/line', line.osmLineId]">{{ line.osmName }} </a> </td>
            <td><a [routerLink] = "['/netex/line', line.netexLineId]">{{ line.netexName }} </a> </td>
            <td>{{ line.transportMode }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
  }
</div>
