<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Line name</th>
          <th scope="col">Transport mode</th>
         </tr>
      </thead>
      <tbody>
        @for (line of lines; track line.osmLineId) {
          <tr>
            <td> {{ line.osmName }} </td>
            <td> {{ line.transportMode }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
