<div class="container">
@if (lineMatch) {
  <h1>{{ lineMatch.network}}: Line {{ lineMatch.lineNumber }}</h1>
  @if (lineMatch.issueStats) {
    @let stats = lineMatch.issueStats;
    <p i18n="@@LineHasIssues">This line has {{ stats?.major || 0}} major and {{ stats?.minor || 0}} minor <a [routerLink] = "['/line-match', lineMatch.id, 'issues']">issues.</a></p>
  }
  @else {
    <p i18n>No issues were found for this line.</p>
  }
  <h2>Routes</h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col" i18n>Route id</th>
        <th scope="col" i18n>Route direction</th>
        <th scope="col" i18n>Match status</th>
        <th scope="col" i18n>Netex route variant</th>
        <th scope="col" i18n>Major issues</th>
        <th scope="col" i18n>Minor issues</th>
        <th scope="col" i18n>Osm route id</th>
        <th scope="col" i18n>Osm name</th>
   </tr>
    </thead>
    <tbody>
      @for (rm of lineMatch.routeMatches; track rm.id) {
        @if (rm.issueStats?.major || (rm.issueStats?.minor && showMinor==true)) {
          <tr>
            <td><a [routerLink] = "['/route-match', rm.id]"> {{ rm.id }} </a></td>
            <td>{{ rm.netexVariant?.directionType }} </td>
            <td>{{ rm.matching }}</td>
            <td><a [routerLink] = "['/netex/route-variant', rm.netexVariant?.id]">{{ rm.netexVariant?.id }} </a></td>
            <td>{{ rm.issueStats?.major || 0}}<!-- {{ rm.netexVariant?.fromQuay?.name }} --></td>
            <td>{{ rm.issueStats?.minor || 0}}<!-- {{ rm.netexVariant?.toQuay?.name }} --></td>
            <td><a [routerLink] = "['/osm/route', rm.osmRoute?.osmRouteId]">{{ rm.osmRoute?.osmRouteId }} </a></td>
            <td>{{ rm.osmRoute?.name }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
}
</div>
