<div class="container">
  @if (osmLine$ | async; as line) {
  <h1>OSM {{ line.name }}</h1>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col" i18n="@@routeId">Route id</th>
        <th scope="col" i18n>Route name</th>
        <th scope="col" i18n="@@routeFrom">From</th>
        <th scope="col" i18n>To</th>
       </tr>
    </thead>
    <tbody>
      @for (route of routes$ | async; track route.osmRouteId) {
        <tr>
          <td><a [routerLink] = "['/osm/route', route.osmRouteId]">{{ route.osmRouteId }} </a> </td>
          <td>{{ route.name }} </td>
          <td>{{ route.from }}</td>
          <td>{{ route.to }}</td>
        </tr>
      }
    </tbody>
  </table>
  }
</div>
