<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Network name</th>
          <th scope="col">Osm name</th>
          <th scope="col">Netex name</th>
         </tr>
      </thead>
      <tbody>
        @for (network of networks; track network.id) {
          <tr>
            <td><a [routerLink] =  "['/network/', network.id ]">{{ network.name }}</a></td>
            <td><a [routerLink] =  "['/osm/network/', network.osmNetwork?.id ]">{{ network.osmNetwork?.name }}</a></td>
            <td><a [routerLink] =  "['/netex/network/', network.netexNetwork?.id ]">{{ network.netexNetwork?.name }}</a></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
