<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Network name</th>
          <th scope="col">Dova name</th>
          <th scope="col">Osm name</th>
          <th scope="col">Netex name</th>
         </tr>
      </thead>
      <tbody>
        @for (network of networks; track network.id) {
          <tr>
            <td>{{ network.name }}</td>
            <td>{{ network.dovaName }}</td>
            <td>{{ network.osmName }}</td>
            <td>{{ network.netexName }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
