<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Network name</th>
          <th scope="col">Country code</th>
          <th scope="col">Links</th>
         </tr>
      </thead>
      <tbody>
        @for (network of networks; track network.networkName) {
          <tr>
            <td><a [routerLink] = "['/network', network.networkName]">{{ network.networkName }}</a>
            </td>
            <td>{{ network.countryCode }}</td>
            <td><a [routerLink] = "['/osm/route/validate', network.networkName]">Validation</a>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
