/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  direction: ltr;
  color: rgb(22, 22, 22);
  font-size: 14px;
  line-height:14px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #0645ad;
  background: none;
}

thead > tr {
  background: #CADCEB;
  color: #115098;
}

td {
    padding:5px;
}
