<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Osm route id</th>
          <th scope="col">Match Rate</th>
          <th scope="col">Matching</th>
          <th scope="col">Netex line number</th>
          <th scope="col">Osm name</th>
         </tr>
      </thead>
      <tbody>
        @for (match of selection; track match.id) {
          <tr>
            <td> {{ match.osmRouteId }} </td>
            <td> {{ match.matchRate }}</td>
            <td> {{ match.matching }}</td>
            <td> {{ match.osmLineNumber }}</td>
            <td> {{ match.osmName }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
