@if ( quaySequence ) {
<h1> {{ quaySequence.directionType}}</h1>
<p>Id = {{ quaySequence.id}} {{ quaySequence.directionType}}</p>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <tbody>
        @for (quay of quays; track quay.quayIndex) {
          <tr>
            <td> <a href="https://drgl.nl/stop/{{ quay.stopPlaceCode }}" target="_blank">{{ quay.quayName }} </a> @if (quay.stopSideCode) {(Perron {{quay.stopSideCode}}) } <span style="font-size: 12px;">({{ quay.quayCode }})</span></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}