<!-- @let josmRemote = "http://localhost:8111"-->
<div class="container">
  @if (networkMatch) {
    @let nm = networkMatch;
    <title>Checking {{ nm.name }} ({{ nm.shortName }})</title>
    <h1 i18n="@@CheckingOSMNetwork">{{ nm.name }} ({{ nm.shortName }})</h1>
    <p>OSM: <a [routerLink] =  "['/osm/network/', nm.osmNetwork?.id ]">{{ nm.osmNetwork?.name }}</a><br/>
       NeTex: <a [routerLink] =  "['/netex/network/', nm.netexNetwork?.id ]">{{ nm.netexNetwork?.name }}</a></p>
    
    @for (lm of nm.lineMatches | filterBy: ['transportMode']: 'bus'; track lm.id) {
      @if (lm.issueStats?.major || (lm.issueStats?.minor && showMinor)) {
        <h2 i18n="@@CheckingOSMLine">OSM {{ lm.transportMode }} line {{ lm.lineNumber }}</h2>
        @for (rm of lm.routeMatches; track rm.id) {
          @if (rm.issueStats?.major || (rm.issueStats?.minor && showMinor)) {
            <div class="card-body">
              <h3><ng-container i18n="@@CheckingOSMRoute">Checking OSM route {{ rm.osmRoute?.name }}</ng-container>
                <a class="link" href="http://localhost:8111/load_object?relation_members=true&objects=r{{ rm.osmRoute?.osmRouteId}}">Josm</a>
              </h3>
              <p>
                @for (issue of rm.issues; track issue.id) {
                  @if(! $first) { <br/> }
                  <app-route-issue [issue]=issue [showMinor]=showMinor/>
                }
                @empty {
                  <p i18n>No issues were found for this route.</p>
                }
              </p>
            </div>
          }
        }
      }
    }
  }
</div>
